html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

*,
*::after,
*::before {
  box-sizing: border-box; }

html {
  min-height: 100%;
  font-size: 7px; }

body {
  position: relative;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  max-width: 100%;
  min-height: 100%;
  font: 300 1.8rem/1.3 "Roboto", "Arial", sans-serif;
  color: #3c3c3b;
  background: url("../img/body-bg.svg") repeat;
  background-size: 90px;
  overflow-x: hidden;
  -webkit-text-size-adjust: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

dd,
dl,
dt {
  margin: 0;
  padding: 0; }

a {
  text-decoration: none;
  color: #3c3c3b;
  transition: all 0.3s; }
  a:hover {
    color: #b5b9be; }

.wrapper {
  position: relative;
  min-width: 1200px;
  min-height: 100%;
  height: auto !important;
  overflow: hidden; }

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem; }

.back-top {
  z-index: 1000;
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  transition: all 0.3s ease; }
  .back-top a {
    display: block;
    width: 4rem;
    height: 4rem;
    font-size: 0;
    background: url("../img/icons/to-top.svg") center no-repeat;
    background-size: contain; }
  .back-top:hover {
    cursor: pointer;
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1); }

.title {
  width: 100%;
  min-height: 9rem;
  font-weight: bold;
  font-size: 3rem;
  text-align: center;
  line-height: 9rem;
  color: #fff;
  background-image: linear-gradient(120deg, #95bdfd 0%, #bbd8fb 100%); }
  .title--transfer {
    padding-top: 5px;
    line-height: normal; }

.sub-title {
  font-weight: normal;
  font-size: 2.4rem;
  color: #d60b52; }
  .sub-title--center {
    text-align: center; }

.button {
  position: relative;
  display: inline-block;
  max-width: 30rem;
  padding: 1rem 4rem;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  font: bold 1.8rem "Roboto", "Arial", sans-serif;
  color: #fff;
  border: none;
  border-radius: 5px;
  background-image: linear-gradient(to top, #94b11f 0%, #c4db00 100%);
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  white-space: normal;
  word-wrap: normal;
  -webkit-appearance: none;
  transition: all 0.5s;
  -webkit-transform: perspective(1px) translateZ(0);
          transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent; }
  .button:before {
    pointer-events: none;
    position: absolute;
    z-index: -1;
    content: '';
    top: 100%;
    left: 5%;
    height: 10px;
    width: 90%;
    opacity: 0;
    background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, transparent 80%);
    transition-duration: 0.3s;
    transition-property: opacity, -webkit-transform;
    transition-property: transform, opacity;
    transition-property: transform, opacity, -webkit-transform; }
  .button:active, .button:hover {
    -webkit-transform: translateY(-5px);
        -ms-transform: translateY(-5px);
            transform: translateY(-5px);
    background-image: linear-gradient(to top, #c4db00 0%, #94b11f 100%); }
    .button:active:before, .button:hover:before {
      opacity: 1;
      -webkit-transform: translateY(5px);
          -ms-transform: translateY(5px);
              transform: translateY(5px); }
  .button--grow:before {
    display: none; }
  .button--grow:hover, .button--grow:focus, .button--grow:active {
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1); }

a.button:active, a.button:hover {
  color: #fff; }

.header {
  width: 100%;
  min-height: 10rem;
  background-color: #403f3f; }
  .header--fixed {
    z-index: 100;
    position: fixed;
    top: 0;
    min-height: 0; }
    .header--fixed .header__logo {
      max-width: 30rem; }
      .header--fixed .header__logo span {
        font-size: 1.5rem; }
    .header--fixed .header__link {
      font-size: 1.8rem; }
    .header--fixed .header__contacts .button {
      padding: 0.5rem 2rem; }

.header__inner {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: inherit; }

.header__logo {
  max-width: 40rem; }
  .header__logo img {
    width: 100%; }
  .header__logo span {
    display: block;
    text-transform: uppercase;
    font-size: 1.8rem;
    color: #fff; }

.header__contact {
  width: 45rem;
  min-height: inherit;
  padding: 1rem 0;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center; }

.header__link {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: bold;
  font-size: 2.2rem;
  color: #fff; }

/* banner block */
.banner {
  width: 100%;
  background-image: linear-gradient(45deg, #e4efe9 0%, #93a5cf 100%); }

.banner__inner {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.banner__img {
  position: relative;
  width: 30%; }
  .banner__img img {
    max-width: 100%; }

.banner__descr {
  position: relative;
  width: 70%;
  padding: 3rem 0 0 0; }
  .banner__descr:before {
    content: "";
    position: absolute;
    top: 140px;
    right: 150px;
    width: 120px;
    height: 120px;
    background: url("../img/print-big.svg") center no-repeat;
    background-size: contain; }
  .banner__descr > span {
    display: block;
    font-weight: normal;
    font-size: 6rem;
    font-weight: bold;
    color: #d60b52; }

.banner__title {
  font-weight: normal;
  font-size: 38px;
  color: #575756; }
  .banner__title > span {
    text-decoration: line-through; }

.banner__button {
  margin-top: 4rem;
  margin-bottom: 2rem; }
  .banner__button .button {
    width: 20rem;
    padding: 1rem 2rem; }
  .banner__button .button:first-child {
    margin-right: 6rem; }

/* features block */
.features .container {
  padding: 3rem 1rem 0 1rem; }

.features .features__list {
  padding: 3rem 1rem 3rem 1rem; }

.features__item {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  .features__item:not(:last-child) {
    margin-bottom: 3rem; }

.features__img {
  position: relative;
  width: 32%;
  margin-right: 3%;
  overflow: hidden;
  background-color: #fff;
  border: 3px solid #c6c6c6; }
  .features__img img {
    max-width: 100%; }

.features__content {
  width: 62%; }
  .features__content p {
    padding: 1rem 0; }

.features__img-center {
  width: 100%;
  text-align: center; }
  .features__img-center img {
    max-width: 100%; }

/* sizes block */
.sizes__list {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 3rem 0 0 0; }

.sizes__item {
  width: 30%;
  margin: 0 2rem 3rem 2rem;
  text-align: center;
  overflow: hidden; }
  .sizes__item:nth-child(n+4) {
    max-height: 36rem; }
  .sizes__item img {
    max-width: 100%;
    height: 25rem; }

.sizes__img-wrapper {
  margin-bottom: 2rem;
  background-color: #fff;
  border: 3px solid #c6c6c6; }
  .sizes__img-wrapper::after {
    content: "";
    display: table;
    line-height: 0;
    clear: both; }

.sizes__footer {
  display: none;
  margin-bottom: 3rem;
  text-align: center; }

/* care block */
.care {
  text-align: center; }
  .care .container {
    padding: 3rem 1rem 0 1rem; }
  .care .sub-title span {
    display: inline-block;
    width: 11rem;
    min-height: 5rem;
    font-size: 0;
    vertical-align: bottom;
    background: url("../img/logo-black.jpg") center no-repeat;
    background-size: contain; }
  .care p {
    padding: 3rem 24rem; }

/* equipment block */
.equipment__list {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 3rem; }

.equipment__item {
  width: 26%;
  margin-bottom: 2rem;
  text-align: center; }
  .equipment__item figcaption {
    font-size: 2.4rem;
    font-weight: normal;
    color: #d60b52; }

.call {
  padding: 3rem 1rem; }
  .call .sub-title {
    margin-bottom: 3rem; }

/* catalog block */
.catalog__nav {
  border-top: 1px solid #fff;
  background-image: linear-gradient(120deg, #95bdfd 0%, #bbd8fb 100%); }

.catalog__nav-list {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 6rem; }

.catalog__nav-item {
  position: relative;
  padding: 2rem 0;
  text-align: center;
  transition: all 0.5s; }
  .catalog__nav-item a {
    padding: 1rem 7rem;
    font-weight: bold;
    color: #fff; }
  .catalog__nav-item:before {
    content: "";
    position: absolute;
    top: 13px;
    left: 0;
    width: 3px;
    height: 60%;
    background-color: #fff; }
  .catalog__nav-item:last-child:after {
    content: "";
    position: absolute;
    top: 13px;
    right: 0;
    width: 3px;
    height: 60%;
    background-color: #fff; }
  .catalog__nav-item:hover, .catalog__nav-item:active {
    background-color: #95bdfd; }

.catalog__unit {
  padding-top: 3rem; }
  .catalog__unit span {
    color: #d60b52; }
  .catalog__unit:last-child {
    margin-bottom: 3rem; }

/* reviews block */
.reviews__head {
  padding: 0 2rem;
  min-height: 7rem;
  line-height: 7rem;
  font-weight: bold;
  font-size: 3rem;
  text-align: center;
  color: #fff;
  background-image: linear-gradient(120deg, #94b11f 0%, #c4db00 100%); }

.reviews__wrapper {
  padding: 2rem; }

.reviews__name {
  font-weight: bold; }

.reviews__city {
  margin-bottom: 2rem; }

.reviews__stars {
  height: 4rem;
  background: url("../img/stars.jpg") -8px -8px no-repeat;
  background-size: contain; }

.reviews__footer {
  padding-bottom: 2rem;
  text-align: center; }
  .reviews__footer .sub-title {
    margin-top: -2rem;
    margin-bottom: 2rem; }

.swiper-container {
  padding: 2rem 0 2rem 0; }

.swiper-wrapper {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }

.swiper-slide {
  width: 23%;
  margin-bottom: 3rem;
  text-align: center;
  background-color: #fff;
  border: 3px solid #c6c6c6; }
  .swiper-slide .button {
    margin: 1rem auto; }
  .swiper-slide:not(:nth-child(4n+4)) {
    margin-right: 3rem; }

.swiper-image {
  position: relative;
  height: 28rem;
  overflow: hidden; }
  .swiper-image:before {
    z-index: 20;
    content: "";
    position: absolute;
    top: 10px;
    left: 20px;
    width: 80px;
    height: 80px;
    background: url("../img/print-small.svg") center no-repeat;
    background-size: contain; }
  .swiper-image img {
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%); }

#accessories .swiper-image:before {
  left: auto;
  right: 5px; }

.swiper-name {
  min-height: 6.5rem;
  padding: 1rem; }

.swiper-slide .swiper-price {
  padding: 0;
  font-weight: bold;
  font-size: 2.4rem;
  color: #d60b52; }

.catalog .swiper-button-prev,
.reviews .swiper-button-prev {
  left: 0;
  background: url("../img/icons/prev.svg") center no-repeat; }

.catalog .swiper-button-next,
.reviews .swiper-button-next {
  right: 0;
  background: url("../img/icons/next.svg") center no-repeat; }

.catalog .swiper-pagination-bullet-active,
.reviews .swiper-pagination-bullet-active {
  background: #d60b52; }

.catalog .swiper-pagination-bullet,
.reviews .swiper-pagination-bullet {
  width: 10px;
  height: 10px; }

.reviews .swiper-container {
  margin-bottom: 3rem;
  padding: 3rem 4rem;
  padding-bottom: 6rem; }

.reviews .swiper-slide {
  text-align: left;
  border: none;
  border-radius: 0;
  box-shadow: 2px 2px 2px rgba(76, 76, 76, 0.65), -2px -2px 2px rgba(76, 76, 76, 0.65); }

.swiper-reviews .swiper-slide {
  min-height: 43rem; }

.contacts {
  border-bottom: 5px solid #c6c6c6; }
  .contacts .container {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding: 0 1rem; }

.contacts__content {
  width: 30%;
  padding: 0 2rem 0 0; }
  .contacts__content p {
    margin-bottom: 2rem; }
  .contacts__content span {
    font-weight: bold; }
  .contacts__content:first-child {
    padding-top: 10px; }

.contacts__map {
  width: 70%;
  min-height: 29rem; }

.footer .container {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1rem; }

.footer__item {
  width: 50%; }
  .footer__item p {
    margin-bottom: 1rem; }
  .footer__item:last-child {
    padding-top: 10px;
    text-align: right; }

.footer__official {
  font-size: 14px; }

.footer__link {
  display: inline-block;
  margin-bottom: 1rem;
  color: #3c3c3b; }
  .footer__link--phone {
    font-weight: bold;
    font-size: 2.5rem; }
  .footer__link--insta {
    position: relative;
    padding-left: 4rem; }
    .footer__link--insta:before {
      content: "";
      position: absolute;
      top: -5px;
      left: 0;
      width: 3rem;
      height: 3rem;
      background-color: #c6c6c6; }
  .footer__link--vk {
    position: relative;
    padding-left: 3.5rem; }
    .footer__link--vk:before {
      content: "";
      position: absolute;
      top: -5px;
      left: 0;
      width: 3rem;
      height: 3rem;
      background: url("../img/vk-logo.svg") center no-repeat;
      background-size: contain; }

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
  display: block;
  width: 100%;
  height: 4.5rem;
  padding: 1rem;
  padding-left: 3.5rem;
  font: normal 1.6rem/1.33 "Roboto", "Arial", sans-serif;
  color: #323749;
  background-color: #fff;
  border: 1px solid rgba(214, 11, 82, 0.8);
  border-radius: 5px;
  opacity: 1;
  transition: all 0.3s ease; }

input[type="text"]:hover, input[type="text"]:active, input[type="text"]:focus,
input[type="email"]:hover,
input[type="email"]:active,
input[type="email"]:focus,
input[type="tel"]:hover,
input[type="tel"]:active,
input[type="tel"]:focus,
textarea:hover,
textarea:active,
textarea:focus {
  outline: none;
  border-color: rgba(214, 11, 82, 0.8); }

input[type="text"]:required:valid,
input[type="email"]:required:valid,
input[type="tel"]:required:valid,
textarea:required:valid {
  outline: none;
  border-color: green; }

input[type="text"]::-webkit-input-placeholder,
input[type="email"]::-webkit-input-placeholder,
input[type="tel"]::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #323749;
  opacity: 1;
  transition: all 0.3s ease; }

input[type="text"]::-moz-placeholder,
input[type="email"]::-moz-placeholder,
input[type="tel"]::-moz-placeholder,
textarea::-moz-placeholder {
  color: #323749;
  opacity: 1;
  transition: all 0.3s ease; }

input[type="text"]:-ms-input-placeholder,
input[type="email"]:-ms-input-placeholder,
input[type="tel"]:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: #323749;
  opacity: 1;
  transition: all 0.3s ease; }

input[type="text"]:focus::-webkit-input-placeholder,
input[type="email"]:focus::-webkit-input-placeholder,
input[type="tel"]:focus::-webkit-input-placeholder,
textarea:focus::-webkit-input-placeholder {
  opacity: 0;
  transition: all 0.3s ease;
  border-color: rgba(214, 11, 82, 0.8); }

input[type="text"]:focus::-moz-placeholder,
input[type="email"]:focus::-moz-placeholder,
input[type="tel"]:focus::-moz-placeholder,
textarea:focus::-moz-placeholder {
  opacity: 0;
  transition: all 0.3s ease;
  border-color: rgba(214, 11, 82, 0.8); }

input[type="text"]:focus:-moz-placeholder,
input[type="email"]:focus:-moz-placeholder,
input[type="tel"]:focus:-moz-placeholder,
textarea:focus:-moz-placeholder {
  opacity: 0;
  transition: all 0.3s ease;
  border-color: rgba(214, 11, 82, 0.8); }

input[type="text"]:focus:-ms-input-placeholder,
input[type="email"]:focus:-ms-input-placeholder,
input[type="tel"]:focus:-ms-input-placeholder,
textarea:focus:-ms-input-placeholder {
  opacity: 0;
  transition: all 0.3s ease;
  border-color: rgba(214, 11, 82, 0.8); }

.errortext {
  padding: 1rem;
  color: red;
  transition: all 0.3s ease; }

.form {
  max-width: 100%;
  margin: 0 auto;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start; }
  .form--modal {
    padding-top: 4rem;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-align-items: stretch;
        -ms-flex-align: stretch;
            align-items: stretch; }
    .form--modal .form__unit {
      max-width: 100%;
      margin-bottom: 1rem; }
    .form--modal .form__submit {
      margin: 0 auto;
      max-width: 75%; }

.form__unit {
  position: relative;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  max-width: 30%;
  background: #fff; }
  .form__unit > label {
    position: absolute;
    top: 10px;
    left: 10px;
    opacity: 0.5; }
  .form__unit > input[type="text"]:focus,
  .form__unit > input[type="email"]:focus,
  .form__unit > input[type="tel"]:focus,
  .form__unit > textarea:focus {
    outline: 0;
    background: rgba(237, 237, 237, 0.4); }
    .form__unit > input[type="text"]:focus + label,
    .form__unit > input[type="email"]:focus + label,
    .form__unit > input[type="tel"]:focus + label,
    .form__unit > textarea:focus + label {
      opacity: 0; }
  .form__unit > input[type="text"]:valid,
  .form__unit > input[type="email"]:valid,
  .form__unit > input[type="tel"]:valid,
  .form__unit > textarea:valid {
    background: url("../img/icons/check-ok.svg");
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: 6px 10px; }
    .form__unit > input[type="text"]:valid + label,
    .form__unit > input[type="email"]:valid + label,
    .form__unit > input[type="tel"]:valid + label,
    .form__unit > textarea:valid + label {
      opacity: 0; }
  .form__unit > input[type="text"]:invalid:not(:focus):not(:placeholder-shown),
  .form__unit > input[type="email"]:invalid:not(:focus):not(:placeholder-shown),
  .form__unit > input[type="tel"]:invalid:not(:focus):not(:placeholder-shown),
  .form__unit > textarea:invalid:not(:focus):not(:placeholder-shown) {
    background: pink; }
    .form__unit > input[type="text"]:invalid:not(:focus):not(:placeholder-shown) + label,
    .form__unit > input[type="email"]:invalid:not(:focus):not(:placeholder-shown) + label,
    .form__unit > input[type="tel"]:invalid:not(:focus):not(:placeholder-shown) + label,
    .form__unit > textarea:invalid:not(:focus):not(:placeholder-shown) + label {
      opacity: 0; }
  .form__unit > input[type="text"]:invalid:focus:not(:placeholder-shown) ~ .form__error,
  .form__unit > input[type="email"]:invalid:focus:not(:placeholder-shown) ~ .form__error,
  .form__unit > input[type="tel"]:invalid:focus:not(:placeholder-shown) ~ .form__error,
  .form__unit > textarea:invalid:focus:not(:placeholder-shown) ~ .form__error {
    max-height: 20rem;
    padding: 1rem 2rem; }

.form__submit {
  display: block;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  max-width: 25%;
  padding: 1rem 2rem;
  font-size: 2rem;
  outline: none;
  -webkit-appearance: none;
  -webkit-backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale; }

.form__error {
  padding: 0rem 2rem;
  max-height: 0;
  overflow: hidden;
  color: red;
  font: 200 1.4rem "Roboto", "Arial", sans-serif;
  transition: 0.3s; }

.modal {
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  display: none;
  width: 60rem;
  max-width: 100%;
  height: 40rem;
  max-height: 100%;
  padding-top: 4rem;
  outline: 0;
  transition: all .5s ease; }
  .modal--show {
    display: block;
    -webkit-animation: bounce 0.6s;
            animation: bounce 0.6s; }
  .modal_bg {
    z-index: 50;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    transition: all .5s ease; }
  .modal .title {
    min-height: auto;
    padding: 2rem 0.5rem;
    font-size: 2rem;
    background-image: linear-gradient(120deg, #94b11f 0%, #c4db00 100%); }
  .modal p {
    padding-top: 10rem; }

.modal__wrapper {
  height: 33rem;
  background-color: #fff;
  box-shadow: 0.4rem 0.4rem 0.5rem rgba(76, 76, 76, 0.65); }

.modal__close {
  z-index: 1;
  position: absolute;
  top: 2px;
  right: -32px;
  width: 4rem;
  height: 4rem;
  font-size: 0;
  border: none;
  border-radius: 50%;
  background: url("../img/icons/cross.svg") center no-repeat;
  background-size: cover;
  transition: all 0.3s ease; }
  .modal__close:hover, .modal__close:active, .modal__close:focus {
    cursor: pointer;
    outline: none;
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1); }

.modal__guts {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 2rem;
  padding-top: 13rem;
  text-align: center;
  font: 300 2rem "Roboto", "Arial", sans-serif;
  overflow: auto; }

#modal_buy {
  padding-top: 6rem; }
  #modal_buy .modal__close {
    top: 22px; }

/* Animation */
@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateY(-2000px);
    transform: translateY(-2000px); }
  70% {
    -webkit-transform: translateY(30px);
    transform: translateY(30px); }
  90% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px); }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0); } }

@keyframes bounce {
  0% {
    -webkit-transform: translateY(-2000px);
    transform: translateY(-2000px); }
  70% {
    -webkit-transform: translateY(30px);
    transform: translateY(30px); }
  90% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px); }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0); } }

@media (min-width: 767px) {
  html {
    font-size: 9px; } }

@media (min-width: 1024px) {
  html {
    font-size: 10px; } }

@media (max-width: 468px) {
  .form {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  .form__unit {
    width: 100%;
    max-width: none;
    margin-bottom: 2rem; }
  .form__submit {
    max-width: 75%;
    margin: 0 auto; } }
