// colors
$color_bg: rgba(0, 0, 0, 0.3);
$color_shadow: rgba(76, 76, 76, 0.65);

$color_link: rgba(181, 185, 190, 1);
$color_field: rgba(50, 55, 73, 1);
$color_field_hover: rgba(50, 60, 75, 1);
$color_field_border: rgba(220, 220, 220, 1);

$gray: #3c3c3b;
$gray_light: #575756;
$gray_lightest: #c6c6c6;

$red: #d60b52;
// shadow
$img-shadow: 2px 2px 5px $color_shadow;

// fonts
$font_1: "Roboto", "Arial", sans-serif;

// media
$mobile: 320px;
$mobile_full: 468px;
$tablet: 767px;
$desktop: 1024px;
