/* banner block */
.banner {
	width: 100%;
	background-image: linear-gradient(45deg, #e4efe9 0%, #93a5cf 100%);
}

.banner__inner {
	display: flex;
}

.banner__img {
	position: relative;
	width: 30%;

	img {
		max-width: 100%;
	}
}

.banner__descr {
	position: relative;
	width: 70%;
	padding: 3rem 0 0 0;

	&:before {
		content: "";
		position: absolute;
		top: 140px;
		right: 150px;
		width: 120px;
		height: 120px;
		background: url("../img/print-big.svg") center no-repeat;
		background-size: contain;
	}

	> span {
		display: block;
		font-weight: normal;
		font-size: 6rem;
		font-weight: bold;
		color: $red;
	}
}

.banner__title {
	font-weight: normal;
	font-size: 38px;
  color: $gray_light;

	> span {
		text-decoration: line-through;
	}
}

.banner__button {
	margin-top: 4rem;

	.button {
		width: 20rem;
		padding: 1rem 2rem;
	}
	.button:first-child {
		margin-right: 6rem;
	}
}
