/* equipment block */
.equipment {}

.equipment__list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding-top: 3rem;
}

.equipment__item {
	width: 26%;
	margin-bottom: 2rem;
	text-align: center;

	figcaption {
		font-size: 2.4rem;
		font-weight: normal;
		color: $red;
	}
}
