/* features block */
.features {
	.container {
		padding: 3rem 1rem 0 1rem;
	}
	.features__list {
		padding: 3rem 1rem;
	}
}

.features__item {
	display: flex;


	&:not(:last-child) {
		margin-bottom: 3rem;
	}
	&:last-child {
		img {
			display: block;
			max-width: 50%;
			margin: 0 auto;
		}
	}
}

.features__img {
	position: relative;
	width: 35%;
	margin-right: 3%;
	overflow: hidden;

	img {
		max-width: 100%;
	}
}

.features__content {
	width: 62%;

	p {
		padding: 1rem 0;
	}
}

.features__img-center {
	width: 100%;
	text-align: center;

	img {
		max-width: 100%;
	}
}
