// inputs and selects base ( @extend )
%form_field {
	display: block;
	width: 100%;
	height: 5rem;
	padding: 1rem;
	font: normal 2rem/1.33 $font_1;
	color: $color_field;
	box-shadow: inset 0 0 0 1px $color_shadow;
	border: 1px solid $color_field_border;
	border-radius: 5px;
	opacity: 1;
	transition: all 0.3s ease;
}

// common form style
.form__item input[type="text"],
input[type="email"],
input[type="tel"],
textarea {

	@extend %form_field;

	&::-webkit-input-placeholder { color: $gray_light; opacity: 1; transition: all 0.3s ease; }
  &::-moz-placeholder 				 { color: $gray_light; opacity: 1; transition: all 0.3s ease; }
  &:-ms-input-placeholder 		 { color: $gray_light; opacity: 1; transition: all 0.3s ease; }

	&:focus::-webkit-input-placeholder {opacity: 0; transition: all 0.3s ease; border-color: $gray_dark;}
  &:focus::-moz-placeholder          {opacity: 0; transition: all 0.3s ease; border-color: $gray_dark;}
  &:focus:-moz-placeholder           {opacity: 0; transition: all 0.3s ease; border-color: $gray_dark;}
  &:focus:-ms-input-placeholder      {opacity: 0; transition: all 0.3s ease; border-color: $gray_dark;}

	&:hover,
	&:active,
	&:focus {
    outline: none;
		border-color: $gray_dark;
	}
	&:required:valid {
		outline: none;
		border-color: green;
	}
}

.errortext {
	padding: 1rem;
	color: red;
	transition: all 0.3s ease;
}
// end inputs and selects base
