/* sizes block */
.sizes {}

.sizes__list {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	padding: 3rem 0 0 0;
}

.sizes__item {
	width: 30%;
	margin: 0 2rem 3rem 2rem;
	text-align: center;
	overflow: hidden;

	&:nth-child(n+4) {
		max-height: 36rem;
	}
	img {
		max-width: 100%;
		height: 25rem;
	}
}

.sizes__img-wrapper {
	margin-bottom: 2rem;
	background-color: #fff;
	border: 3px solid $gray_lightest;

	@include clearfix;
}

.sizes__footer {
	display: none;
	margin-bottom: 3rem;
	text-align: center;
}
