.swiper-container {
	padding: 2rem 0 2rem 0;
}

.swiper-wrapper {
	display: flex;
	flex-wrap: wrap;
}

.swiper-slide {
	width: 23%;
	margin-bottom: 3rem;
	text-align: center;
	background-color: #fff;
	border: 3px solid $gray_lightest;

	.button {
		margin: 1rem auto;
	}

	&:not(:nth-child(4n+4)) {
		margin-right: 3rem;
	}
}

.swiper-image {
	position: relative;
	height: 28rem;
	overflow: hidden;

	&:before {
		z-index: 20;
		content: "";
		position: absolute;
		top: 10px;
		left: 20px;
		width: 80px;
		height: 80px;
		background: url("../img/print-small.svg") center no-repeat;
		background-size: contain;
	}

	img {
		max-width: 100%;
		max-height: 100%;
		@include center;
	}
}

#accessories .swiper-image:before {
	left: auto;
	right: 5px;
}

.swiper-name {
	min-height: 6.5rem;
	padding: 1rem;
}

.swiper-slide .swiper-price {
	padding: 0;
	font-weight: bold;
	font-size: 2.4rem;
	color: $red;
}

// .catalog .swiper-button-next,
// .catalog .swiper-button-prev,
// .reviews .swiper-button-next,
// .reviews .swiper-button-prev {
// 	top: auto;
// 	bottom: 0;
// }

.catalog .swiper-button-prev,
.reviews .swiper-button-prev {
	left: 0;
	background: url("../img/icons/prev.svg") center no-repeat;
}

.catalog .swiper-button-next,
.reviews .swiper-button-next {
	right: 0;
	background: url("../img/icons/next.svg") center no-repeat;
}

.catalog .swiper-pagination-bullet-active,
.reviews .swiper-pagination-bullet-active {
	background: $red;
}

.catalog .swiper-pagination-bullet,
.reviews .swiper-pagination-bullet {
	width: 10px;
	height: 10px;
}

// yoya babe
// .catalog__unit .swiper-babe > .swiper-pagination-bullets {
// 	bottom: -5px;
// 	right: 0;
// 	margin: auto;
// 	max-width: 35%;
// }

// reviews
.reviews .swiper-container {
	margin-bottom: 3rem;
	padding: 3rem 4rem;
	padding-bottom: 6rem;
}

.reviews .swiper-slide {
	text-align: left;
	border: none;
	border-radius: 0;
	box-shadow: 2px 2px 2px $color_shadow, -2px -2px 2px $color_shadow;
}

.swiper-reviews .swiper-slide {
	min-height: 43rem;
}
